<h3>Number of cents you entered</h3>
<p><%= @cents %></p>

<h3>Your change:</h3>
<p><%= @cents[0] %>: quarters</p>
<p><%= @cents[0] %>: dimes</p>
<p><%= @cents[0] %>: nickles</p>
<p><%= @cents[0] %>: pennies</p>
